BasedOnStyle: LLVM
Standard: c++17

UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 0

AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: None

PointerAlignment: Left
IndentCaseLabels: false

ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All

AlignEscapedNewlines: DontAlign
FixNamespaceComments: true
SpaceBeforeInheritanceColon: true
